.header {
  height: 400px;
  background: darkcyan url(../img/bg.jpg) no-repeat center;
  background-size: cover;
  color: $white;
  text-align: center;
  @include media-breakpoint-down(xs) {
    ...
  }
  @include media-breakpoint-down(sm) {
    ...
  }
  @include media-breakpoint-down(md) {
    ...
  }
  @include media-breakpoint-down(lg) {
    ...
  }
}